@{
    Layout = "_Layout";
}

@model LaundryRoom20.Models.User
<link href="~/css/forms.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<body>
    <div id="picContainer">
        <div id="h1cont">
            <h1>Bokatvattstugan.online</h1><br/>
            <h1 id="smaller">Boka din tvättid precis som vanligt - fast på nätet!</h1>
        </div>
    <img id="header"src="~/images/IMG_0324.jpg" class="img-responsive"/>
    </div>
    <div id="mainContainer">
        <p>
            Med bokatvattstugan.online ville vi skapa ett system som skulle passa alla! <br />
            Både dig som helst vill gå till tvättstugan och flytta din låskolv precis som vanligt <br /> och dig som hellre skulle vilja göra det hemifrån.<br/>
            Bokatvattstugan.online ser ut som din gamla bokningstavla och är lika enkel att använda! <br />Tryck på en ledig tid, knappa in din fyrsiffriga pin-kod och sedan är det klart!<br/>

        </p>
        <br /><br />
              <a href="https://bokatvattstugan.online/brfTest"><img style="width: 80vw" src="~/images/bakgrund.png" /></a>
        <br />
        <br />
        <br />
       <p>  Här ovanför är en bild på hur systemet ser ut. Klicka på bilden så kommer du till en testversion. Där kan du se hur enkelt det är att boka en tid. Pin-koden är 5416. <br/>
        Så länge låskolven lyser är du inloggad och kan flytta runt den hur som helst. För att logga ut trycker du på låskolven en gång till.
        </p>

    </div>
</body>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
