body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffcc;
}

#wrapper {
    padding-right:0;
    float: left;
    width: 2415px;
    height: 584px;
    border: 4px grey ridge;
}

.date {
    float: left;
    height: 97px;
    width: 71px;
}

.left {
    float: left;
    height: 97px;
    width: 213px;
}

.time {
    background-image: url('/images/tom.jpg');
    float: left;
    height: 97px;
    width: 71px;
}

#inv_1, #inv_2 {
    visibility:hidden;
}

#numberPad {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: white;
    display: inline-block;
    width: 250px;
    height: 520px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 4px ridge grey;
    border-radius: 5%;
}

#eraser {
    visibility: hidden;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.distance {
    position: relative;
    float: left;
    width: 18%;
    height: 60px;
    line-height: 60px;
}

.distanceTop {
    position: relative;
    float: left;
    width: 18%;
    height: 30px;
    line-height: 30px;
}

#instructions {
    margin-top: 10px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: block;
    height: 1.2em;
    width: 62%;
    text-align: center;
    line-height: 2em;
}

#numberInput {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    display: block;
    height: 2em;
    width: 60%;
    text-align: center;
    line-height: 2em;
}
.button {
    margin: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px ridge black;
}

#checkMark {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#check {
    padding: 0;
    margin: 6px;
    position: relative;
    width: 70px;
    height: 70px;
    float: left;
    border: 0;
    border-radius: 100%;
    background-color: inherit;
}

    #check:active {
        background-color: green;
    }

    .button:active {
        background-color: darkgray;
    }

.buttonGroup {
    padding: 5px;
    margin: 5px;
    clear: both;
    height: 80%;
    width: 93%;
}