<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Bokatvättstugan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="~/images/Namnlös.png" id="wash"/></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/redirecttoroom">Till tvättstugan</a></li>
                    <li><a href="/requestnewpin">Beställ kod</a></li>
                </ul>
                <ul class="nav navbar-nav" id="bla">
                    <li><a href="/registeremail"><span class="glyphicon glyphicon-user"></span>&nbsp&nbsp&nbspRegistrera E-post</a></li>
                    <li><a href="/adminlogin"><span class="glyphicon glyphicon-lock"></span>&nbsp&nbspLägg till användare</a></li>

                </ul>
            </div>
        </div>
    </nav>


@RenderBody()


    <footer id="foot"class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-phone"></span> 070-393 13 89</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> jonsom01@hotmail.com</a></li>
        </ul>
    </footer>

<script src="~/lib/jquery/dist/jquery.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
